body {
    font-family: "Roboto", sans-serif;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.player {
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.video {
    width: 1000px;
}
.controllers {
    position: absolute;
    bottom: 15px;
    transform: translateY(100%) translateY(15px);
    width: 795px;
    height: 40px;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 13px;
    background: rgba(26, 24, 22, 0.7);
    transition: transform 0.3s ease;
}
.player:hover .controllers {
    transform: translateY(0%);
}
#play:hover {
    transform: scale(1.1);
}
img {
    cursor: pointer;
}

/* SPEED*/
.controller__speed {
    position: relative;
    color: white;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.speed__current{
    font-weight: 700;
    font-size: 12px;
    cursor: pointer;
}

.speed__drop-down {
    position: absolute;
    display: none;
    bottom: 40px;
    left: -5px;
    font-size: 10px;
    font-weight: 500;
    background: rgba(26, 24, 22, 0.7);
    border-radius: 5px;
}
.speed {
    cursor: pointer;
    padding: 5px;
    border-radius: 2px;
    padding: 7px 10px;
}
.speed.speed-active {
    position: relative;
}
.speed.speed-active:after {
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    top: 9px;
    left: 3px;
    background: #ffd300;
}
.speed:hover {
    color: #252525;
    background: #717171;
}
.controller__speed:hover .speed__drop-down {
    display: block;
}

/* PROGRESS*/
.controller__progress-body {
    display: flex;
    width: 587px;
    height: 23px;
    cursor: pointer;
    background: #443f3e;
    border-radius: 4px;
    overflow: hidden;
}
.progress-bar {
    width: 0%;
    display: inline;
    position: relative;
    background: #ffd300;
}
.time {
    position: absolute;
    top: 6px;
    left: 10px;
    width: 100px;
    font-size: 12px;
}
#progressTime {
    font-weight: 500;
    color: #252525;
}
#durationTime {
    font-weight: 400;
    color: #717171;
}

/* REWIND */
.rewind:hover {
    transform: scale(1.1);
}
.rewind:active {
    transform: scale(0.9);
}

/* VOLUME */
.controller__volume {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.volume-bar {
    position: absolute;
    background: green;
    width: 25px;
    height: 70px;
    bottom: 40px;
    background: rgba(26, 24, 22, 0.7);
    border-radius: 5px;
    display: none;
    cursor: pointer;
}
.volume-current {
    position: absolute;
    width: 25px;
    bottom: 0;
    background: white;
    height: 50%;
    padding-left: 3px;
    color: black;
    border-radius: 0 0 5px 5px;
    cursor: pointer;
    font-size: 11px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    line-height: 140%;
}
.controller__volume:hover .volume-bar {
    display: block;
}


